.jumbotron {
    background-image : url("https://images.pexels.com/photos/4031435/pexels-photo-4031435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size : 100% 100%;
    color : black;
}

body {
    background-color: forestgreen;
}

.graph-desc {
    background-color: white;
    text-align: center;
}